@font-face {
    font-family: "Bebas Neue";
    src: url("fonts/BebasNeue-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Alata";
    src: url("fonts/Alata-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Lato";
    src: url("fonts/Lato-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Lato";
    font-weight: bold;
    src: url("fonts/Lato-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Niramit";
    src: url("fonts/Niramit-ExtraLight.ttf") format("truetype");
}

@font-face {
    font-family: "Niramit";
    font-weight: bold;
    src: url("fonts/Niramit-Medium.ttf") format("truetype");
}

@page {
    size: A4;
}

@media print {

    html {
        font-size: 11.7pt !important;
    }

    html, body {
        width: 210mm;
        height: 297mm;
    }

    body {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }

    #scholarship .school > i {
        margin-left: -12pt !important;
    }
}

html {
    --main-color: rgb(187, 22, 35);
    font-size: 9pt;
}

body {
    font-family: "Niramit";
    width: 210mm;
    height: 297mm;
    margin-top: 22pt;
    margin-bottom: 22pt;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 22pt #CCC;
}

strong {
    color: var(--main-color);
}

h1.category-header {
    font-family: "Lato";
    font-weight: bold;
    font-size: 1.8rem;
    margin-bottom: 12pt;
    padding-bottom: 5pt;
    border-bottom: 1pt solid #666;
}

.container-fluid {
    padding: 0 11pt 11pt 11pt;
}

#header {
    background-color: black;
    margin-bottom: 16pt;
}

#header h1 {
    color: #b5b5b5;
    font-family: "Bebas Neue";
    text-transform: uppercase;
    font-size: 5rem;
    margin-bottom: -4pt;
}

#header h2 {
    font-family: "Alata";
    color: white;
    font-size: 2.5rem;
}

.experience > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3pt;
}

.experience > h1 {
    display: inline-block;
    font-weight: bold;
    font-size: 1.4rem;
    margin-bottom: 0;
}

.experience > h2 {
    color: #666;
    display: inline-block;
    font-size: 0.9rem;
    margin-left: 8pt;
}

.experience > h2 > span {
    margin: 0 5pt 0 5pt;
}

.experience > p {
    font-size: 0.95rem;
    padding-left: 11pt;
    margin-top: 3pt;
    margin-bottom: 4pt;
    text-align: justify;
}

.experience > p.technologies {
    display: block;
    color:#666;
    text-align: justify;
    font-size: 0.8rem;
    margin-top: 8pt;
    margin-bottom: 8pt;
}

#infos i.fa {
    margin-right: 4pt;
}

#technologies > p {
    font-size: 1rem;
    text-align: justify;
    line-height: 2rem;
}

#technologies > p {
    font-size: 1.1rem;
}

#certifications, #scholarship, #technologies {
    margin-top: 22pt;
}

#certifications strong {
    color: black !important;
}

#scholarship .school {
    border-left: 1px solid black;
    padding-left: 8pt;
    padding-bottom: 8pt;
}

#scholarship .school > i {
    position: absolute;
    margin-left: -11.3pt;
    font-family: "Arial";
    font-size: 2rem;
    line-height: 2rem;
}

#scholarship .school > span {
    font-size: 0.95rem;
}

#scholarship .school > h1 {
    display: inline-block;
    font-size: 1.1rem;
    font-weight: bold;
    margin: 0 0 0 4pt;
}

#scholarship .school > h2 {
    margin: 3pt 0 0 8pt;
    font-size: 0.95rem;
    text-align: justify;
}